[Unit]
Description=Setline local HTTP path proxy
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/setline -f /etc/setline/setline.json
Restart=on-failure
RestartPreventExitStatus=2
StartLimitBurst=5
StartLimitIntervalSec=120
StandardOutput=journal
StandardError=journal
User=setline
Group=beangle
UMask=0002
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
